@import "tailwindcss";
@import 'remixicon/fonts/remixicon.css';
body {
  background-color: #AB4459;
}

input{
  border: 1px solid #AB4459;
  border-radius: 2px;
  width: 70%;
  height: 40%;
  padding: 8px 14px;
}
.addtaskbtn{
  border: 1px solid black;
  padding: 8px 10px;
  font-size: 14px;
  margin-left: 10%;
  background-color: #AB4459;
  border-radius: 2px;
  transition: transform 0.1s ease-in-out;
}
.addtaskbtn:hover{
  transform: scale(0.9);
}
.todocard{
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 2px;
  background-color: #AB4459;
  margin-bottom:  8px;
  transition: transform 0.1s ease-in-out;
}
.todocard:hover{
  transform: scale(1.02);
}
